* {
    font-family: "Montserrat";
    color: white;
}

#filters {
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

#price-range {
    width: 150px;
    ;
}

.card-img-top {
    width: 30%;
}

.label {
    font-weight: 600;
}

p {
    margin-bottom: 0;
}

.form-range::-webkit-slider-thumb {
    background-color: wheat;
}