* {
    font-family: "Montserrat";
}

.dropdown-toggle {
    display: flex;
    border-radius: 0px;
    background-color: transparent;
    color: white;
    width: 150px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

#apply-filter-btn {
    width:150px;
    height: 50px;
    text-align: center;
    background-color: pink;
    border: none;
    color: black;
    font-weight: 700;
}

#filters-wrapper {
    display: flex;
    justify-content: space-between;
}

#filters {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px 15px;
}

.price-text {
    font-weight: 800;
}