{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="contentcontactspage">
        <img class="img-fluid" src="{% static 'contacts/img/contacts.png' %}" alt="contactspage"> 

        <main role="main" class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="container d-flex flex-row align-items-center">
                        <p><img class="img-rounder float-end col-2" src="{% static 'contacts/img/phone.png' %}" alt="contactspage"></p>
                        <h6 class="text-white-50 fw-bold mb-3">Phone number: </h6>
                        <p class="text-white mx-3">+48 733 160 170</p>
                    </div>

                    <div class="container d-flex flex-row align-items-center">
                        <p><img class="img-rounder float-end col-2" src="{% static 'contacts/img/email.png' %}" alt="contactspage"></p>
                        <h6 class="text-white-50 fw-bold mb-3">Email: </h6>
                        <p class="text-white mx-3">zakwieciscie@wp.pl</p>
                    </div>

                    <div class="container d-flex flex-row align-items-center">
                        <p><img class="img-rounder float-end col-2" src="{% static 'contacts/img/location.png' %}" alt="contactspage"></p>
                        <h6 class="text-white-50 fw-bold mb-3">Location: </h6>
                        <p class="text-white mx-3">ul. Ceglana 2a (przy ulicy Zębcowskiej) 63-400 Ostrów Wielkopolski Woj. wielkopolskie</p>
                    </div>
                    
                    <div class="container d-flex flex-row align-items-center">
                        <p><img class="img-fluid" src="{% static 'contacts/img/map.png' %}" alt="contactspage"></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}