/* 
:root {
    --header-font: "Montserrat Thin"
}

@font-face {
    font-family: "Montserrat Thin";
    src: url(../fonts/Montserrat-Thin.ttf);
}

.nav-link {
    font-family: var(--header-font);
    font-size: 22px;
}

body, header{
    background-color: #1E1E1E;
}

header {
    top: 0;
}


footer {
    border-top: solid 0.5px rgba(255, 255, 255, 0.288);
} */

/* .soclogo{
    width: 30px;
    height: 30px;
} */
