{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row d-flex align-items-center">
            <div class="col-8">
                <div class="text-start top-50">
                    <h2 class="text-white fw-bold">Buy our flowers </h2>
                    <h2 class="text-white fw-bold">Give us your money</h2>
                    <p class="text-white-50">Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and  typesetting industry. when an unknown printer took a galley of  type and scrambled it to make a type specimen book.</p>
                </div>
                
                <a href="{% url 'flowers_catalog' %}">
                    <button id="catalog-btn">Explore our flowers</button>
                </a>
            </div>
            <div class="col-4 text-center">
                <p><img class="img-rounder float-end w-100" src="{% static 'main/img/flowers.png' %}" alt="flowers"></p>
            </div>
        </div>

        <div class="range">
            <h2 class="text-white">Browse the range</h2>
            <p class="text-white-50">Lorem Ipsum has been the industry's.</p>
            <div class="rangeimg d-flex justify-content-between text-white">
                <div class="image-range text-center">
                    <img class="img" id="img1" src="{% static 'main/img/img2.png' %}" alt="">
                    <hr>
                    <p>Flowers</p>
                </div>
                <div class="image-range text-center">
                    <img class="img" id="img1" src="{% static 'main/img/img2.png' %}" alt="">
                    <hr>
                    <p>Flowers</p>
                </div>
                <div class="image-range text-center">
                    <img class="img" id="img1" src="{% static 'main/img/img2.png' %}" alt="">
                    <hr>
                    <p>Flowers</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}