{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'main/img/contacts.png' %}" class="d-block w-100" alt="img1">
            </div>
            <div class="carousel-item">
            <img src="{% static 'main/img/contacts.png' %}" class="d-block w-100" alt="img2">
            </div>
            <div class="carousel-item">
            <img src="{% static 'main/img/contacts.png' %}" class="d-block w-100" alt="img3">
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>  

    <div class="row d-flex align-items-center">
        <div class="col-8 text-center">
            <div class="text-start top-50">
                <h2 class="text-white">Buy our flowers </h2>
                <h2 class="text-white">Give us your money</h2>
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and  typesetting industry. when an unknown printer took a galley of  type and scrambled it to make a type specimen book.</p>
            </div>
            <button>Explore our flowers</button>
        </div>
        <div class="col-4 text-center">
            <p><img class="img-rounder float-end w-100" src="{% static 'main/img/flowers.png' %}" alt="flowers"></p>
        </div>
    </div>

{% endblock %}