:root {
    --font: "Montserrat";
    --main-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}


.nav-link {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 300;
    margin-right: 5px;
}

.navbar-nav {
    margin-left: 10px;
}

body {
    background-color: var(--main-color);
}

#logo {
    width: 150px;
    height: 90px;
}

#main-wrapper, #header-content {
    width: 1200px;
}

#auth-frame {
    border: 1px solid white;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.101);
}

#auth-frame p {
    margin: 3px;
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

#auth-frame .icon {
    margin-left: 5px;
    margin-right: 0px;
}

